<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <script>
        ! function (t) {
            (t._plt = t._plt || []).push(["tm", "ps", +new Date])
        }(window);
    </script>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="Cache-Control" content="no-cache,no-store,must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta property="og:title" content="F购商城">
    <meta property="og:description" content="风靡全国的拼团商城，优质商品新鲜直供，快来一起F购吧">
    <title>我的订单</title>
</head>

<head>
    <link href="./css/pdd/react_pdd_6fb15092c0312a697dfb.css" rel="stylesheet">
    <link href="./css/pdd/react_boot_b75c36a0efec6307f981.css" rel="stylesheet">
    <link href="./css/pdd/react_common_5757ad19c083dcf89e96.css" rel="stylesheet">
    <link href="./css/pdd/react_orders_6ff72757e755bdfc5315.css" rel="stylesheet">
    <link href="./css/pdd/payment-popup_7fc46fcbfa42ccdeae58.css" rel="stylesheet">
    <style>
      .resultTips{
        position:fixed;
        top:0;
        bottom:0;
        left:0;
        right:0;
        margin:auto;
        width:0.65rem;
        height:0.65rem;
        background:rgba(0, 0, 0, .7);
        text-align: center;
        line-height: 0.65rem;
        border-radius:0.15rem;
        font-size:0.1rem;
        color:#fff;
        z-index:9999999;
    } 
    </style>
</head>
<body id="orders">
    <div id="main">
        <div class="orders-content">
            <div class="nav-fixed-container" style="width:100%;">
                <div class="nav-fixed">
                    <div class="fixed-nav-item-orders" @click="changeType(0)"><span :class="{'nav-cur':orderType== 0}">全部</span></div>
                    <div class="fixed-nav-item-orders" @click="changeType(1)"><span :class="{'nav-cur':orderType== 1}">待付款</span></div>
                    <div class="fixed-nav-item-orders" @click="changeType(2)"><span :class="{'nav-cur':orderType== 2}">待发货</span></div>
                    <div class="fixed-nav-item-orders" @click="changeType(3)"><span :class="{'nav-cur':orderType== 3}">待收货</span></div>
                    <div class="fixed-nav-item-orders" @click="changeType(4)"><span :class="{'nav-cur':orderType== 4}">待评价</span></div>
                </div>
            </div>
            <div class="deal-list-status-new" style="margin-top: 0.4rem">
                <div style="display:block;">
                    <div id="base-list1" class="react-base-list-wrapper ">
                        <div class="react-base-list">
                            <div class="orders-item" data="0" v-for="item in orderList" @click="goOrderDetail(item)">
                                <div class="item-top-block">
                                    <div class="mall-name"><img class="mall-icon" :src="item.shopRes.shop_logo"><span
                                            class="mall-name-text">{{item.shopRes.shop_name}}</span></div>
                                    <p class="order-status" v-if="item.status == 1"> 待付款 </p>
                                    <p class="order-status" v-if="item.status == 2"> 待发货 </p>
                                    <p class="order-status" v-if="item.status == 3"> 已发货 </p>
                                    <p class="order-status" v-if="item.status == 4"> 交易成功 </p>
                                    <p class="order-status" v-if="item.status == 5"> 交易关闭 </p>
                                </div>
                                <div class="item-goods">
                                    <div class="img-wrapper"><img class="goods-img" :src="item.sku_goods_json.pic"></div>
                                    <div class="goods-desc">
                                        <p>{{item.sku_goods_json.gname}}</p>
                                        <p class="spec">{{item.sku_goods_json.spec_key_name}}</p>
                                    </div>
                                    <div class="price-and-num">
                                        <div class="goods-price"><span>￥</span>{{item.sku_goods_json.price}}</div>
                                         <div class="goods-number">x{{item.goods_count}}</div>
                                    </div>
                                </div>
                                <div class="currency-block">
                                    <p class="currency-free" style="float: left;font-size: 0.08rem;margin-left: 0.1rem">订单号：{{item.order_no}}</p>
                                    <p class="currency-free">(免运费)</p>
                                    <p class="currency-amount">￥{{item.pay_money}}</p>
                                    <p class="currency-head">实付:</p>
                                </div>
                                <div class="button-block">
                                    <div class="orders-button">
                                        <a class=" button-red" data-active="red" v-if="item.status == 1" @click="payOrder(item.order_no)"><span>去支付</span></a>
                                        <a class="" data-active="ghost-gray" v-if="item.status == 1" @click="cancleOrder(item.oid)"><span>取消订单</span></a>
                                        <a class="" data-active="ghost-gray" v-if="item.status == 2" @click="tipsShipment()"><span>催发货</span></a>
                                        <a class="" data-active="ghost-gray" v-if="item.status == 3" @click="goLogistics(item.express_no,item.express_type)"><span>查看物流</span></a>
                                        <a class="" data-active="ghost-gray" v-if="item.status == 3" @click="sureRec(item.oid)"><span>确认收货</span></a>
                                        <a class="" data-active="ghost-gray" v-if="item.status == 5" @click="deleteOrder(item.oid)"><span>删除订单</span></a>
                                        <a class="" data-active="ghost-gray" v-if="item.status == 4 && item.comment == 1" @click="goWrite(item.oid)"><span>去评论</span></a>                              
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="rbl-load-more rbl-pull-up-hide">
                            <div class="rbl-list-center" style="display: none;"><span class="rbl-img-rotate-bg"></span><span
                                    class="rbl-loading-text">没有更多了...</span></div>
                        </div>
                    </div>
                </div>
                <div style="display:none"></div>
                <div style="display:none"></div>
                <div style="display:none"></div>
                <div style="display:none"></div>
            </div>
            <div class="head-block" v-show="show" onclick="location.href='index.html'">
                <p class="hint">您还没有相关的订单</p>
                <p class="recommend-hint">没找到订单？<span class="go-all-order">去购买</span></p>
            </div>
            <div id="recommend-wrapper"></div>
        </div>
    </div>
</body>
<script src="./script/jquery-3.2.1.min.js"></script>
<script src="./script/config.js"></script>
<script src="./script/common.js"></script>
<script src="./script/yltcrypt.js"></script>
<script src="./script/aui-toast.js"></script>
<script src="./script/vue.js"></script>
<script src="./script/mlayer/layer.js"></script>
<script>
checkLogin();
var param = pageParam();
new Vue({
    el:"#main",
    data:{
        orderList:[],
        orderType:0,
        loading:true,
        pages:1,
        show:false,
        tipsShow:false,
        totalPages:1,
    },
    methods:{
        //切换订单类型
        changeType: function(type){
            var self = this;
            self.orderType = type;
            self.pages = 1;
            self.getOrderList();
        },
        //加载订单列表
        getOrderList: function () {
            var self = this;
            self.loading = false;
            if(self.pages == 1){
                self.orderList = [];
            }
            $.ajax({
                type: 'POST',
                url: PHP_SERVE_URL + '/shop/myOrder',
                data: {
                    openId: userInfo.open_id,
                    page:self.pages,
                    type:self.orderType,
                },
                success: function (ret, res) {
                    if (ret.code == 0) {
                        if(ret.data.length==0 && self.pages==1){
                            self.show = true;
                        }else{
                            if(ret.data.length!=0){
                                self.pages++;
                            }
                            self.show = false;
                        }
                        for(var i in ret.data){
                            self.orderList.push(ret.data[i]);
                        }
                    }
                    self.loading = true;
                }
            })
        },
        //跳转物流页面
        goLogistics:function(postId,postName){
             location.href='http://m.kuaidi100.com/result.jsp?nu='+postId+'&com='+postName;
        },
        //取消订单
        cancleOrder:function(oid){
            var self = this;
            $.ajax({
                type: 'POST',
                url: PHP_SERVE_URL + '/shop/cancleOrder',
                data: {
                    openId: userInfo.open_id,
                    oid:oid,
                    token:yltcrypt.cpt(userInfo.open_id),
                },
                success: function (ret, res) {
                    if (ret.code == 0) {
                        self.tipsShow = true;
                        setTimeout(function () {
                            self.tipsShow = false;
                        }, 500);
                        self.pages = 1;
                        self.getOrderList();
                    }
                }
            })
        },
        //催发货
        tipsShipment:function(){
            layer.open({
                content: '已联系卖家尽快为您发货'
                ,skin: 'msg'
                ,time: 2
            });
        },
        //删除订单
        deleteOrder:function(oid){
            var self = this;
            $.ajax({
                type: 'POST',
                url: PHP_SERVE_URL + '/shop/delOrder',
                data: {
                    openId: userInfo.open_id,
                    oid:oid,
                    token:yltcrypt.cpt(userInfo.open_id),
                },
                success: function (ret, res) {
                    if (ret.code == 0) {
                        self.tipsShow = true;
                        setTimeout(function () {
                            self.tipsShow = false;
                        }, 500);
                        self.pages = 1;
                        self.getOrderList();
                    }
                }
            })
        },

        //支付订单
        payOrder:function(orderNo){
            $.ajax({
                type: 'POST',
                url: PHP_SERVE_URL + "/pay/wxPayLite",
                data: {
                    orderNo:orderNo,
                },
                success: function (ret, res) {
                    if (ret.code == 0) {
                        onBridgeReady(ret.data)
                    }
                }
            })
        },
        //订单详情页
        goOrderDetail:function(info){
            var self = this

        },
        //确认收货
        sureRec:function(oid){
            var self = this
            $.ajax({
                type: 'POST',
                url: PHP_SERVE_URL + '/shop/doneOrder',
                data: {
                    openId: userInfo.open_id,
                    oid:oid,
                    token:yltcrypt.cpt(userInfo.open_id),
                },
                success: function (ret, res) {
                    if (ret.code == 0) {
                        self.tipsShow = true;
                        setTimeout(function () {
                            self.tipsShow = false;
                        }, 500);
                        self.pages = 1;
                        self.getOrderList();
                    }
                }
            })
        },
        //去评论
        goWrite:function(oid){
            var self = this;
            window.location.href = "goWrite.html?orderId="+oid;
        }
    },
    mounted:function(){
       var self = this;
       self.orderType = param.orType;
       self.getOrderList();
       $(window).scroll(function () {
           if(self.loading) {
               if ($(document).height() - $(document).scrollTop() - window.innerHeight < 200) {
                   self.getOrderList();
               }
           }
       });
    }
})
function onBridgeReady(data){
    WeixinJSBridge.invoke(
        'getBrandWCPayRequest', {
            "appId":data.appId,     //公众号名称，由商户传入
            "timeStamp":data.timeStamp,         //时间戳，自1970年以来的秒数
            "nonceStr":data.nonceStr, //随机串
            "package":data.package,
            "signType":data.signType,         //微信签名方式：
            "paySign":data.paySign //微信签名
        },
        function(res){
            if(res.err_msg == "get_brand_wcpay_request:ok" ){
                //支付成功，跳转到订单页面
                layer.open({
                    content: '支付成功'
                    ,skin: 'msg'
                    ,time: 1
                });
                setInterval(function(){location.href='my_order.html?orType=2'}, 1000);
            }else{
                //支付失败
                layer.open({
                    content: '支付失败'
                    ,skin: 'msg'
                    ,time: 2
                });
            }
        });
}
</script>


</html>