<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="Cache-Control" content="no-cache,no-store,must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">

    <title>F购商城</title>
    <link href="./css/pdd/react_pdd_a097c652b862d01f0d82.css" rel="stylesheet">
    <link href="./css/pdd/react_boot_7bed6699c3a1b0255010.css" rel="stylesheet">
    <link href="./css/pdd/react_common_741fe798d308d87a9aa6.css" rel="stylesheet">
    <link href="./css/pdd/react_goods_b57bbb61f81496814b1f.css" rel="stylesheet">
    <link href="./css/swiper.min.css" rel="stylesheet">
    <style type="text/css">
        .pin-spinner-2 {
            display: none;
            position: fixed;
            width: .66rem;
            height: .66rem;
            top: 35%;
            margin: 0 auto;
            left: 0;
            right: 0;
            z-index: 999999999;
        }

        .ps-inner-box {
            width: 100%;
            height: 100%;
        }

        .ps-rotate-img {
            width: .25rem;
            height: .25rem;
            margin: auto;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            animation: rotateImg 2.5s linear infinite;
            -webkit-animation: rotateImg 2.5s linear infinite;
            z-index: 9999999999;
            position: absolute;
        }

        .ps-rotate-msg {
            width: 100%;
            font-size: .15rem;
            text-align: center;
            color: #fff;
            position: relative;
            bottom: 0px;
            display: none;
        }

        .ps-background {
            display: none;
            position: absolute;
            width: 100%;
            height: 100%;
            opacity: 0.7;
            background-color: #000;
            border-radius: .09rem;
        }

        .pin-spinner-2 {
            display: block;
            top: 50%;
            margin-top: -.66rem;
            width: .66rem;
            height: .66rem;
        }

        .pin-spinner-2.hasMessageText {
            margin-top: -.82rem;
            width: 1rem;
            height: 1rem;
        }

        .hasMessageText .ps-rotate-img {
            bottom: .43rem;
            top: .18rem;
            width: .36rem;
            height: .36rem;
        }

        .hasMessageText .ps-rotate-msg {
            display: block;
            bottom: .32rem;
        }


        @keyframes rotateImg {
            0% {
                transform: rotateZ(0deg);
            }
            50% {
                transform: rotateZ(180deg);
            }
            100% {
                transform: rotateZ(360deg);
            }
        }

        @-webkit-keyframes rotateImg {
            0% {
                -webkit-transform: rotateZ(0deg);
            }
            50% {
                -webkit-transform: rotateZ(180deg);
            }
            100% {
                -webkit-transform: rotateZ(360deg);
            }
        }

        @media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
            .pin-spinner-2 {
                margin-top: -.82rem;
            }
        }
        .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
            padding-left:3rem;
            line-height: .13rem;
            color: #fff;
            font-size: .13rem;
            z-index: 999;
            opacity: .75;
            text-shadow: 0 0 0.06rem #9c9c9c;
        }
        [v-cloak]{
            display: none;
        }
    </style>
</head>

<body id="goods" style="left: calc(50vw - 1.875rem);">
<div id="app" v-cloak>
    <div id="main" class="container no-footer">
        <div id="banner" class="goods-banner" style="height: 3.75rem;">
            <!-- Swiper -->
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" v-for="(item,index) in detailInfo.gpicHead" @click="bannerFullPage(index)">
                        <img style="height: 3.75rem;" :src="item">
                    </div>
                </div>
                <div class="swiper-pagination" style=""></div>
            </div>
        </div>
        <div class="goods-header-top-container">
            <section id="g-base" class="false">
                <div class="g-price-group"><span class="g-group-price" v-html="'<i>￥</i>'+detailInfo.goodRes.groupprice"></span><span class="g-sales regular-text" v-text="'已售'+detailInfo.goodRes.sellnum+'件'"></span>
                </div>
                <div class="g-name-new"><span class="goods-name-content"><span><span class="g-n-goods-title"><span class="enable-select" v-text="detailInfo.goodRes.gname"></span></span><span></span></span>
                    </span>
                </div>
            </section>
            <div class="goods-header no-hs-bp-at false">
                <div>
                    <div class="g-h-div"></div>
                    <div data-active="before-white" class="g-h-services" @click="showService">
                        <div class="g-h-service">
                            <div class="g-h-service-txt first-service">极速退款</div>
                        </div>
                        <div class="g-h-service">
                            <div class="g-h-service-dot"></div>
                            <div class="g-h-service-txt">全场包邮</div>
                        </div>
                        <div class="g-h-service">
                            <div class="g-h-service-dot"></div>
                            <div class="g-h-service-txt">7天退换</div>
                        </div>
                        <div class="g-h-service">
                            <div class="g-h-service-dot"></div>
                            <div class="g-h-service-txt">48小时发货</div>
                        </div>
                        <div class="g-h-enter"><span class="g-h-enter-icon"></span>

                        </div>
                    </div>
                    <section class="service-detail-bg" v-show="serviceShow">
                        <div class="gh-service-detail-main gh-main-show">
                            <div class="gh-service-title"><span>服务说明</span>
                                <div class="gh-service-close-btn " @click="hideService"></div>
                            </div>
                            <div id="gh-service-modal-list-service" class="gh-service-modal-content">
                                <div class="gh-service-content">
                                    <div class="gh-service-item" data-url="">
                                        <div class="gh-service-left">
                                            <div class="gh-service-item-top"><span class="gh-ms-item-icon"></span><span class="gh-service-item-name">退货包运费</span>
                                            </div><span class="service-item-desc">确认收货前申请退货退款，消费者将会收到退货运费补贴</span>
                                        </div>
                                    </div>
                                    <div class="gh-service-item" data-url="">
                                        <div class="gh-service-left">
                                            <div class="gh-service-item-top"><span class="gh-ms-item-icon"></span><span class="gh-service-item-name">极速退款</span>
                                            </div><span class="service-item-desc">拼单成功6小时内，待发货状态下，提交退款申请将立即退款</span>
                                        </div>
                                    </div>
                                    <div class="gh-service-item" data-url="">
                                        <div class="gh-service-left">
                                            <div class="gh-service-item-top"><span class="gh-ms-item-icon"></span><span class="gh-service-item-name">全场包邮</span>
                                            </div><span class="service-item-desc">所有商品均无条件包邮</span>
                                        </div>
                                    </div>
                                    <div class="gh-service-item" data-url="">
                                        <div class="gh-service-left">
                                            <div class="gh-service-item-top"><span class="gh-ms-item-icon"></span><span class="gh-service-item-name">7天退换</span>
                                            </div><span class="service-item-desc">满足相应条件时，消费者可申请7天无理由退换货</span>
                                        </div>
                                    </div>
                                    <div class="gh-service-item" data-url="">
                                        <div class="gh-service-left">
                                            <div class="gh-service-item-top"><span class="gh-ms-item-icon"></span><span class="gh-service-item-name">48小时发货</span>
                                            </div><span class="service-item-desc">若超时未发货，消费者将会收到至少3元无门槛代金券</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <div id="g-local-groups">
            <div class="local-groups-title regular-cell" v-text="vuData.length+'人在拼单，可直接参与'"></div>
            <div class="local-group-container">
                <div>
                    <div>
                        <div class="local-group-item" v-for="(item,index) in vuData" >
                            <img class="local-group-img" :src="item.avatar">
                            <div class="new-local-group-detail ">
                                <div class="local-group-name" v-text="item.uname"></div>
                                <div class="local-group-info">
                                    <div class="local-group-person" >还差<span class="local-group-num">1人</span>拼成</div>
                                    <span class="local-group-timer" v-text="formatTime(item.leftTime)"></span>
                                </div>
                            </div>
                            <div class="local-group-btn-border special-btn" @click="showSku(2)">去拼单</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="goods-reviews-module " class="goods-reviews-container" @click="goComments">
            <div class="goods-reviews-header " data-active="before-white ">
                <div class="goods-reviews-title ">
                    <div class="goods-reviews-num " v-text="'商品评价'"></div> <span class="goods-reviews-more ">查看全部</span>
                </div>
            </div>
            <div class="goods-reviews-list">
                <div :class="index>0?'reviews-item-bt':'reviews-item'" v-for="(item,index) in judge">
                    <div class="reviews-item-title ">
                        <img :src="item.avatar"><span class="reviews-item-name" v-text="item.uname"></span>
                    </div>
                    <div class="reviews-item-content" v-text="item.info"></div>
                </div>
            </div>
        </div>
        <div>
            <div class="goods-mall-in-grey showDsrStatus ">
                <div class="goods-mall-main-in-grey ">
                    <div class="mall-logo ">
                        <img :src="shopInfo.shop_logo">
                    </div>
                    <div class="goods-mall-info ">
                        <div class="goods-mall-first-line ">
                            <div class="goods-mall-name" v-text="shopInfo.shop_name"></div>
                        </div>
                        <div><span v-text="'商品数量: '+shopInfo.goodsNum">商品数量：0</span><span v-text="'收藏数量: '+shopInfo.mark_num">收藏数量：0</span>

                        </div>
                    </div>
                    <div class="goods-mall-btn" @click="goShop"><span>进店逛逛</span>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="goods-details ">
                <p>商品详情</p>
                <div class="gd-item " v-for="(item,index) in detailInfo.gpicInfo">
                    <img class="gd-img" style="width: 100%;" :src="item">
                </div>
            </div>
        </div>
        <!-- 底部菜单 -->
        <div>
            <div class="goods-bottom-bar ">
                <div class="goods-home-button-new " @click="showMore"><span class="goods-home-icon-new">更多</span>

                </div>
                <div :class="isCollect?'goods-like-button-new':'goods-unlike-button-new'" @click="collectGoods"><span>收藏</span>

                </div>
                <div class="goods-chat-button-new " data-active="before-white "><span>客服</span>

                </div>
                <div class="goods-direct-btn-new " data-active="before-red" @click="showSku(1)"><span class="goods-buy-price " style="font-size:0.17rem "><i
                        style="font-size:calc(0.17rem - 0.01rem) ">￥</i>{{detailInfo.goodRes.price}}</span><span>单独购买</span>

                </div>
                <div class="goods-group-btn-new " data-active="before-red" @click="showSku(2)"><span class="goods-buy-price " style="font-size:0.17rem "><i
                        style="font-size:calc(0.17rem - 0.01rem) ">￥</i>{{detailInfo.goodRes.groupprice}}</span><span>发起拼单</span>

                </div>
            </div>
            <!-- 商品sku -->
            <section class="sku-selector-bg " v-show="skuShow">
                <div class="sku-selector-main sku-selector-main-show">
                    <div class="sku-selector-container ">
                        <div class="sku-selector-head ">
                            <img :src="skuSelDetailInfo.pic">
                            <div class="sku-selector-head-content ">
                                <div class="sku-selector-price">
                                    ￥{{skuSelDetailInfo.groupprice}}
                                    <span class="sku-quantity-tip">仅剩：{{skuSelDetailInfo.stock}}</span>
                                </div>
                                <div class="sku-selector-desc" v-text="skuText"></div>
                            </div>
                            <div class="sku-selector-close-btn " @click="hideSku"></div>
                        </div>
                        <div id="sku-selector-body">
                            <div class="sku-specs" v-for="(item,index) in detailInfo.goodsFormat">
                                <span class="sku-specs-key " v-text="item.gfname"></span>
                                <div class="sku-spec-value-list">
                                    <div class="sku-spec-value" :class="item1.selected&&'sku-spec-value-selected'" @click="selectSku(item.gfname,item1.gftid,item1.gftname,index,index1)" v-for="(item1,index1) in item.child" data-active="before-white" v-text="item1.gftname"></div>
                                </div>
                            </div>
                            <div class="sku-selector-number "><span>数量</span>

                                <div class="sku-selector-reduce" :class="buyCount==1&&'sku-selector-reduce-disable'" @click="buyCountControl(0)"></div>
                                <input type="number " class="sku-selector-input " maxlength="5 " v-model="buyCount">
                                <div class="sku-selector-increase" :class="buyCount==skuSelDetailInfo.stock&&'sku-selector-increase-disable'" @click="buyCountControl(1)"></div>
                            </div>
                            <div class="safe-distance "></div>
                        </div>
                        <div class="sku-selector-bottom" v-show="skuOk" @click="quickBuy">确定</div>
                        <div class="sku-selector-bottom" v-show="!skuOk" style="background: #bbb;">确定</div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!--拼单-->
    <div v-if="showPin">
        <div class="g-group-pop-up">
            <div class="bg-fill"></div>
            <div class="g-group-pop-up-wrapper">
                <div class="g-group-header">
                    <div class="g-group-title">参加<span class="g-group-user-name">💎L暖暖C💎</span>的拼单</div>
                    <div class="g-group-info">仅剩<span>1</span>个名额，<i>23:51:31.5</i>后结束</div>
                    <div class="g-group-close"></div>
                </div>
                <div class="g-group-content">
                    <ul class="g-group-users">
                        <li class="g-group-detail-user g-group-detail-owner" style="background: url("//t20img.yangkeduo.com/a/091fb02abda0e73f1e12c192e73b0020247eac3c-1550148462?imageMogr2/thumbnail/100x") 0% 0% / 100% 100%;"></li>
                        <li class="g-group-wait-user"></li>
                    </ul>
                </div>
                <div class="g-group-footer">
                    <button data-active="before-red">参与拼单</button>
                </div>
            </div>
        </div>
    </div>
     <!--更多菜单-->
    <div>
        <div class="goods-home-button-new-fill" @click="showMore" v-show="isShowMore">
            <div class="goods-bottom-tab">
                <div class="goods-bottom-content">
                    <div class="g-b-c-item g-b-t-history"><span>历史浏览</span>
                    </div>
                    <div class="g-b-c-item g-b-t-home" onclick="window.location.href='index.html'"><span>回到首页</span>
                    </div>
                </div><span class="goods-bottom-tab-tri-1"></span>
            </div>
        </div>
    </div>
</div>
<div id="global-disable-click">
    <div class="scroll-container-hidden"></div>
</div>
<script src="./script/jquery-3.2.1.min.js"></script>
<script src="./script/common.js"></script>
<script src="./script/aui-toast.js"></script>
<script src="./script/config.js"></script>
<script src="./script/yltcrypt.js"></script>
<script src="./script/vue.js"></script>
<script src="./script/swiper.min.js"></script>
<script src="./script/previewImage.min.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.4.0.js"></script>
<script type="text/javascript">
    var pageParam=pageParam();
    var userInfo = JSON.parse(getStorage("userInfo"));
    var vm=new Vue({
        el:"#app",
        data:{
            detailInfo:{goodRes:{
                gid: "",
                shopid: "",
                gname: "",
                price: "",
                groupprice: "",
                groupnum: "",
                grouphours: "",
                stock: "",
                sellnum: "0",
                score: "",
                judge: ""
            }},
            serviceShow:false,
            skuShow:false,
            skuSelected:{},
            skuText:"",
            skuSelDetailInfo:{},
            selected_ids:null,
            buyCount:1,
            skuOk:false,
            vuData:[],
            showPin:false,
            pinIndex:0,
            judge:[],
            shopInfo:{},
            isCollect:false,
            isShowMore:false,
            buyType:0
        },
        methods:{
            loadDetailInfo:function(){
                // 加载商品详情
                var self=this;
                $.ajax({
                    url:PHP_SERVE_URL+"/shop/goodsInfo",
                    type:"post",
                    data:{goodsId:pageParam.goodsId},
                    success:function (res) {
                        if(res.code==0){
                           for(var a in res.data.goodsFormat){
                                for(var x in res.data.goodsFormat[a].child){
                                    res.data.goodsFormat[a].child[x].selected=false;
                                }
                           }
                           self.detailInfo=res.data;
                           // 加载商铺信息
                           self.loadShopInfo();
                           self.vuData=res.data.vuData;
                           if(self.vuData.length>0){
                                // 拼单倒计时
                               setInterval(function(){
                                    self.vuDataCutDown();
                               },1000);
                           }
                           if(self.vuData.length>2){
                                // 拼单滚动
                               setInterval(function(){
                                    var el=$(".local-group-item")[0];
                                    var height=$(el).innerHeight();
                                    $(el).animate({"margin-top":-height+"px"},function(){
                                        $(el).css({"margin-top":"0px"});
                                        $(".local-group-container>div>div").append(el);
                                    });
                               },5000);
                           }
                            self.skuText="请选择";
                            for(var i in res.data.goodsFormat){
                                self.skuSelected[res.data.goodsFormat[i].gfname]={};
                                self.skuText+=" "+res.data.goodsFormat[i].gfname;
                            }
                            setTimeout(function () {
                                var swiper = new Swiper('.swiper-container', {
                                    pagination: {
                                        el: '.swiper-pagination',
                                        type: 'fraction',
                                    },
                                });
                            });
                            if(res.data.gprice[0]){
                                self.skuSelDetailInfo=res.data.gprice[0];
                            }else{
                                self.skuSelDetailInfo=res.data.goodRes;
                                self.skuSelDetailInfo.pic = res.data.gpicHead[0];
                                self.skuOk=true;
                            }
                        }
                    }
                });
            },
            showService:function () {
                // 显示服务
                var self=this;
                self.serviceShow=true;
            },
            hideService:function () {
                var self=this;
                self.serviceShow=false;
            },
            showSku:function (type) {
                var self=this;
                self.skuShow=true;
                self.buyType=type;
            },
            hideSku:function () {
                var self=this;
                self.skuShow=false;
            },
            selectSku:function (type,id,name,typeIndex,itemIndex) {
                var self=this;
                // 记录sku选的值
                self.$set(self.skuSelected[type],"id",id);
                self.$set(self.skuSelected[type],"name",name);
                self.skuText="";
                // 取消所有选中的状态
                for(var x in self.detailInfo.goodsFormat[typeIndex].child){
                    self.$set(self.detailInfo.goodsFormat[typeIndex].child[x],"selected",false);
                }
                // 添加选择状态
                self.$set(self.detailInfo.goodsFormat[typeIndex].child[itemIndex],"selected",true);
                // 生成sku选项展示的文本
                for(var i in self.skuSelected){
                    if(self.skuSelected[i].id){
                        self.skuText+=" "+self.skuSelected[i].name;
                        self.skuOk=true;
                    }else if(!self.skuSelected[i].id){
                        self.skuText="请选择";
                        for(var b in self.skuSelected){
                            if(!self.skuSelected[b].id){
                                self.skuText+=" "+b;
                            }
                        }
                        self.skuOk=false;
                        break;
                    }
                }
                // 获取选定的参数id，生成匹配sku单个项商品所需要的id
                var idsArr=[];
                for(var a in self.skuSelected){
                    if(self.skuSelected[a].id){
                        idsArr.unshift(self.skuSelected[a].id);
                    }
                }
                // 根据选定的参数id，匹配sku单个项商品的信息
                idsArr.sort(function(a,b){
                    if(a<b){
                        return -1;
                    }
                    if(a>b){
                        return 1;
                    }
                    return 0;
                });
                self.selected_ids=idsArr.join(",");
                for(var skuIndex in self.detailInfo.gprice){
                    if(self.detailInfo.gprice[skuIndex].format_ids==self.selected_ids){
                        self.skuSelDetailInfo=self.detailInfo.gprice[skuIndex];
                    }
                }
            },
            buyCountControl:function (type) {
                // 购买数量控制
                var self=this;
                if(type==0){
                    if(self.buyCount>1){
                        self.buyCount--;
                    }
                }else if(type==1){
                    if(self.buyCount<self.skuSelDetailInfo.stock){
                        self.buyCount++;
                    }
                }
            },
            quickBuy:function () {
                // 下单
                var self=this;
                var orderParam={gid:self.skuSelDetailInfo.gid,
                    num:self.buyCount,
                    shopId:self.detailInfo.goodRes.shopid,
                    formatIds:self.skuSelDetailInfo.format_ids,
                    shopName:self.shopInfo.shop_name,
                    shopLogo:self.shopInfo.shop_logo,
                    gname:self.detailInfo.goodRes.gname,
                    gpic:self.detailInfo.gpicHead[0],
                    skutext:self.skuText,
                    gprice:self.skuSelDetailInfo.groupprice,
                    btype:1
                };
                setStorage('orderParam',orderParam);
                window.location.href="order_pay.html";
            },
            formatTime:function(seconds){
                // 格式化拼团时间
                var hour=parseInt(seconds/3600)<10?'0'+parseInt(seconds/3600):parseInt(seconds/3600);
                var minute=parseInt(seconds%3600/60)<10?'0'+parseInt(seconds%3600/60):parseInt(seconds%3600/60);
                var second=seconds%3600%60<10?'0'+(seconds%3600%60):seconds%3600%60;
                return "剩余"+hour+":"+minute+":"+second;
            },
            vuDataCutDown:function(){
                // 拼团时间倒数
                var self=this;
                vuData=self.vuData;
                for(var i in vuData){
                    vuData[i].leftTime--;
                }
                self.vuData=vuData;
            },
            loadGoodsJudge:function(){
                // 加载商品评论
                var self=this;
                $.ajax({
                    url:PHP_SERVE_URL+"/shop/goodsJudge",
                    type:"post",
                    data:{goodsId:pageParam.goodsId,pageIndex:1,pageSize:2},
                    success:function (res) {
                        if(res.code==0){
                            self.judge=res.data;
                        }else{
                            alert(res.msg);
                        }
                    }
                });
            },
            loadShopInfo:function(){
                // 加载商铺信息
                var self=this;
                $.ajax({
                    url:PHP_SERVE_URL+"/shop/shopInfo",
                    type:"post",
                    data:{shopId:self.detailInfo.goodRes.shopid},
                    success:function (res) {
                        if(res.code==0){
                            self.shopInfo=res.data;
                        }
                    }
                });
            },
            goShop:function(){
                // 前往商店
                var self=this;
                window.location.href="store_detail.html?shopId="+self.detailInfo.goodRes.shopid;
            },
            getCollectBool:function(){
                // 获取收藏状态
                var self=this;
                $.ajax({
                    url:PHP_SERVE_URL+"/shop/getCollectBool",
                    type:"post",
                    data:{type:1,cid:pageParam.goodsId,openId:userInfo.open_id},
                    success:function (res) {
                        if(res.code==0){
                            self.isCollect=Boolean(res.isCollect);
                        }
                    }
                });
            },
            collectGoods:function(){
                var self=this;
                $.ajax({
                    url:PHP_SERVE_URL+"/shop/collectGoods",
                    type:"post",
                    data:{goodsId:pageParam.goodsId,openId:userInfo.open_id},
                    success:function (res) {
                        if(res.code==0){
                            self.isCollect=!self.isCollect;
                        }else{
                            alert(res.msg);
                        }
                    }
                });
            },
            showMore:function(){
                var self=this;
                self.isShowMore=!self.isShowMore;
            },
            bannerFullPage:function(index){
                var self=this;
                var obj = {
                        urls : self.detailInfo.gpicHead,
                        current : self.detailInfo.gpicHead[index]
                    };
                previewImage.start(obj);
            },
            goComments:function(){
                // 前往评论
                window.location.href="goods_comments.html?goodsId="+pageParam.goodsId;
            }
        },
        watch:{
            buyCount:function (newVal,oldVal) {
                var self=this;
                if(parseInt(newVal)<1){
                    self.buyCount=1;
                }else if(parseInt(newVal)>parseInt(self.skuSelDetailInfo.stock)){
                    self.buyCount=self.skuSelDetailInfo.stock;
                }else if(isNaN(parseInt(newVal))){
                    self.buyCount=1;
                }else{
                    self.buyCount=parseInt(newVal);
                }
            },
            skuSelDetailInfo:function (newVal,oldVal) {
                var self=this;
                if(parseInt(newVal.stock)>0){
                    self.buyCount=1;
                }else{
                    self.skuOk=false;
                }
            }
        },
        mounted:function () {
            var self=this;
            this.loadDetailInfo();
            self.loadGoodsJudge();
            self.getCollectBool();
        }
  });
    getWxSign();
    function getWxSign() {
        var userInfoShare = JSON.parse(getStorage('userInfo'));
        if(!userInfoShare){
            userInfoShare.open_id = 0;
        }
        $.ajax({
            type: 'POST',
            url: PHP_SERVE_URL + '/weixin/jssdkConfig',
            data: {
                url: location.href.split('#')[0],
            },
            dataType: "json",
            success: function (ret, res) {
                if (ret.code == 0) {
                    wx.config({
                        debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
                        appId: ret.data.appId, // 必填，公众号的唯一标识
                        timestamp: ret.data.timestamp, // 必填，生成签名的时间戳
                        nonceStr: ret.data.nonceStr, // 必填，生成签名的随机串
                        signature: ret.data.signature,// 必填，签名
                        jsApiList: ['updateAppMessageShareData','updateTimelineShareData','onMenuShareTimeline','onMenuShareAppMessage'] // 必填，需要使用的JS接口列表
                    });
                    wx.ready(function() {
                        wx.updateAppMessageShareData({
                            title: 'F购商城', // 分享标题
                            desc: 'F购商城实现商家与消费者共赢的，买的越多赚得越多！', // 分享描述
                            link: PHP_SERVE_URL+'/sharelogin.html?lopenId='+userInfoShare.open_id, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
                            imgUrl: 'http://media1.0571sd.com/tmp/fgouhead.jpg', // 分享图标
                            success: function (res) {
                            }
                        });
                        wx.updateTimelineShareData({
                            title: 'F购商城', // 分享标题
                            link: PHP_SERVE_URL+'/sharelogin.html?lopenId='+userInfoShare.open_id, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
                            imgUrl: 'http://media1.0571sd.com/tmp/fgouhead.jpg', // 分享图标
                            success: function () {
                            }
                        });
                    });
                }
            }
        })
    }
</script>
</body>
</html>